<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error 404 - Method not allowed </title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section id="error">
    <div class="container"><h1 class="section-title"># Method not allowed</h1>
        <p class="subtitle">{# Метод не разрешен для запрашиваемого URL. #}</p>
        <div class="text-center mt-20">
            <div class="error-code m-auto"><p class="code"><span class="light-blue">{</span></p>
                <p class="code">&nbsp;&nbsp;&nbsp;&nbsp;status_code : <span class="violet">405</span>,</p>
                <p class="code">&nbsp;&nbsp;&nbsp;&nbsp;message : <span class="light-blue">"</span><span class="yellow">Method not allowed</span><span
                        class="light-blue">"</span></p>
                <p class="code"><span class="light-blue">}</span></p></div>
        </div>
        <div class="text-center mt-20">
            <a class="section-title" href="/">На главную страницу</a>
        </div>
    </div>
</section>
</body>
</html>